body {
  background: #ddd;
  padding-bottom: 137px;

  @media (max-width: 767px) {
    padding-bottom: 0;
  }
}

.site-header {
  margin: 0 20px;
}

header {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;
  font-weight: bolder;
  margin-top: 20px;

  h1 {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .game, .elusive-target {
    height: 500px;
  }
}



@media (max-width: 991px) {
  .game, .elusive-target {
    height: 300px;
    margin-bottom: 20px;
  }
}

.dashboard {
  margin: 40px;

  .game, .elusive-target {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 3px;
    margin-right: 3px;


    &:hover {
      .game-info, .elusive-target-info {
        color: white;
        background: #ff1439;

        h2 {
          color: white;
        }

        .image img {
          &.normal {
            display: none;
          }

          &.inverted {
            display: block;
          }
        }
      }

      box-shadow: 2px 2px 2px #000;
    }

    .game-info, .elusive-target-info {
      padding: 15px;
      background: white;
      color: #000;
      text-shadow: none;

      h2 {
        color: #ff003c;
      }

      .image {
        display: inline-block;
        vertical-align: top;

        img {
          height: 48px;
          width: 48px;

          &.normal {
            display: block;
          }

          &.inverted {
            display: none;
          }
        }
      }

      .text {
        display: inline-block;
        text-transform: uppercase;

        h1 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }

        h2 {
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .game > a, .elusive-target > a  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration: none;

    > p:first-child {
      flex-grow: 1;
    }
  }

  .elusive-target {
    .countdown {
      padding: 15px 15px 0;
      margin-bottom: 1rem;

      img {
        width: 48px;
        height: 48px;
      }

      .timer {
        display: inline-block;
        vertical-align: middle;

        .target-arrives {
          color: #fff;
          line-height: 0;
          display: none;
        }

        #elusive-countdown {
          color: #fef30a;
          font-size: 2rem;
          vertical-align: middle;
          font-weight: 600;
        }

        &.not-playable {
          vertical-align: bottom;

          .target-arrives {
            display: block;
          }

          #elusive-countdown {
            line-height: 33px;
            margin-top: 7px;
          }
        }
      }
    }
  }
}

.hitman {
  > a {
    text-decoration: none;
    display: block;
    margin: 20px;
  }

  /* Locations page */
  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }


  @media (max-width: 991px) {
    .location {
      height: 300px;
      margin-bottom: 20px;
    }
  }

  .location {
    color: white;
    margin-left: 3px;
    margin-right: 3px;



    &:hover {
      .location-info {
        color: white;
        background: #ff1439;
      }

      box-shadow: 2px 2px 2px #000;
    }

    .location-info {
      padding: 15px;
      background: white;
      color: #000;
      text-shadow: none;
    }
  }

  .location > a  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration: none;

    > p {
      flex-grow: 1;
    }
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}

.hitman2 {
  > a {
    text-decoration: none;
    display: block;
    margin: 20px;
  }

  font-family: 'Roboto', sans-serif;

  /* Locations page */
  .site-container {
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 992px) {
    .location {
      height: 500px;
    }
  }

  @media (max-width: 991px) {
    .location {
      height: 300px;
      margin-bottom: 20px;
    }
  }

  .location {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
      box-shadow: 2px 2px 2px #000;

      .location-info {
        color: white;
        background: #ff1439;
      }
    }

    .location-info {
      padding: 15px;
      background: white;
      color: #000;
      text-shadow: none;
    }
  }


  .location > a  {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    text-decoration: none;

    > p {
      flex-grow: 1;
    }
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #000;
  color: #6b6c72;

  p {
    margin-bottom: 0;
    color: #fff;
  }

  h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
  }
  
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ddd;
      text-decoration: none;
    }
  }

  @media(max-width: 767px) {
    &.fixed-bottom {
      position: inherit;

      .container {
        max-width: inherit;

        .col-xs-12 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer-link + .footer-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.missions {
  header {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .mission {
    margin-bottom: 10px;

    @media (max-width: 991px) {
      .name {
        height: 250px;
      }
    }

    .name {
      border: solid 1px #fff;
      color: #fff;
      display: flex;
      flex-direction: column;

      > p {
        flex-grow: 1;
      }

      img {
        width: 32px;
        height: 32px;
        margin-top: 0;
        margin-bottom: 0;
      }

      margin-right: 5px;
    }

    @media (min-width: 992px) {
      .difficulty {
        text-align: center;
        background: #fff;
        padding-left: 0;
        padding-right: 0;
        margin-right: 5px;

        > a {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          padding-right: 15px;
          color: #000;
          font-size: 1.5rem;

          img {
            margin: 20px auto;
          }

          img.normal {
            display: block;
            max-height: 100px;
            max-width: 100px;
          }

          img.inverted {
            display: none;
            max-height: 100px;
            max-width: 100px;
          }

          &:hover {
            background: #ff003c;
            text-decoration: none;
            color: #fff;

            img.normal {
              display: none;
            }

            img.inverted {
              display: block;
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      .name {
        margin-right: 0;
      }

      .difficulty {
        &:nth-child(odd) {
          background: #fff;
        }

        &:nth-child(even) {
          background: #eee;
        }

        > a {
          img.normal {
            display: inline-block;
            max-height: 32px;
            max-width: 32px;
          }

          img.inverted {
            display: none;
            max-height: 32px;
            max-width: 32px;
          }

          &:hover {
            text-decoration: none;
            color: #000;
          }

          p {
            display: inline-block;
          }
        }
      }
    }
  }
}

.login, .register {
  .row {
    .col.login {
      margin: 40px;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }

      background: #fff;
      border-radius: .25rem;
      border: solid 1px rgba(0, 0, 0, .125);

      .login-card {
        margin: 10px;
      }
    }
  }
}

.breadcrumb {
  background: transparent;

  .breadcrumb-item {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000;
    font-weight: normal;

    a {
      color: #fff;
    }

    &.active {
      color: #fff;
    }

    & + .breadcrumb-item::before {
      //noinspection CssNoGenericFontName
      font-family: "Font Awesome 5 Pro";
      content: "\f054";
      margin-right: 30px;
      color: #fff;
    }
  }
}

.game-modal {
  .modal-content {
    background: transparent;
    border: none;

    .modal-header {
      font-family: 'nimbus_sans_lbold', sans-serif;
      text-transform: uppercase;
      border-bottom: none;
      border-radius: 0;

      background: #fff;

      h5 {
        font-size: 1.5rem;
      }
    }

    .modal-body {
      background: #fff;
    }

    .modal-footer {
      border-top: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
      display: block;

      > :not(:first-child) {
        margin: 0;
      }

      #enroll-button {
        margin-bottom: 10px;
      }

      .btn-block {
        border-radius: 0;
        text-transform: uppercase;
        background: #fff;
        color: #000;
        font-family: 'nimbus_sans_lbold', sans-serif;
        text-align: left;
        font-size: 1.3rem;
        transition: none;

        img {
          max-height: 32px;
          max-width: 32px;
          vertical-align: top;

          &.normal {
            display: inline-block;
          }

          &.inverted {
            display: none;
          }
        }

        &:hover {
          background: #ff003c;
          color: #fff;

          img {
            &.normal {
              display: none;
            }

            &.inverted {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.custom-checkbox {
  .custom-control-input {
    &:disabled:indeterminate {
      & ~ .custom-control-label {
        &::before {
          background-color: rgba(255, 0, 60, .5);
          border-color: #ff003c;
        }
      }
    }
  }
}

.custom-control-input {
  &:indeterminate {
    & ~ .custom-control-label {
      &::before {
        border-color: #ff003c;
      }
    }
  }

  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #ff003c;
        border-color: #ff003c;
      }
    }
  }
}

@font-face {
  font-family: 'nimbus_sans_lbold';
  src: url('/fonts/NimbusSanL-Bol-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nimbus_sans_lregular';
  src: url('/fonts/NimbusSanL-Reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}